{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<div class="container about">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <img class="aboutimg" src="{% static '/img/web.png' %}" alt="" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="aboutpara">
                E-Study-Corner began as a spin-off from a couple study associations. It was born out of frustration,
                a total lack of information and overview of the fast-growing number of Programming Technologies.
                In 2020, E-Study-Corner was developed and proved to be a roaring success.
                In 2020, we helped over 100+ students around the cuntry to explore study programmes and make an informed
                choice, throughout over 10+ courses at whole country.
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
    </div>
</div>

<!-- Our Vision & Mission -->
<div class="jumbotron bg-info text-white text-center p-2 m-0">
    <h1 class="display-4">Our Vision & Mission</h1>
    <p class="lead">Bringing quality to education and sustainability to life. To be most trusted online educator.</p>
    <hr class="my-4">
    <p> Bring inspiration and innovation to every student in the country.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-5 col-md-5 col-md-12">
            <div class="aboutpara">
                E-Study-Corner began as a spin-off from a couple study associations. It was born out of frustration,
                a total lack of information and overview of the fast-growing number of Programming Technologies.
                In 2020, E-Study-Corner was developed and proved to be a roaring success.
                In 2020, we helped over 100+ students around the cuntry to explore study programmes and make an informed
                choice, throughout over 10+ courses at whole country.
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-md-12">
            <img class="aboutimg" src="{% static '/img/2842680.jpg' %}" alt="" />
        </div>
        <div class="col-lg-1 col-md-1 col-md-12"></div>
    </div>
</div>

{% endblock %}