{% extends 'shared/admCommon.html' %}
{% block content %}
{% load static %}
{% if msg %}
<script>
    alert('{{ msg }}')
</script>
{% endif %}
<!-- Add Notifications -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-12"></div>
            <div class="col-lg-6 col-md-8 col-sm-12 bg-white">
                <form method="POST" action="/admnotification">
                    {% csrf_token %}
                    <h3 class="text-center">Add Notification</h3><br>
                    <div class="row">
                        <div class="col-4 my-3">
                            <label>Link:</label>
                        </div>
                        <div class="col-8">
                            <input name="link" class="form-control" type="text" placeholder="Enter Link" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Enter Notification:</labellass=><br>
                        </div>
                        <div class="col-8">
                            <textarea name="notification" class="form-control" type="text" placeholder="Enter Notification" required></textarea><br>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button class="btn btn-primary w-100" type="submit">Add</button>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-12"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1 col-sm-12"></div>
            <div class="col-lg-8 col-md-10 col-sm-12 my-4 bg-white">
                <h3 class="text-center">Manage Notification</h3>
                <div class="overflowxaxis">
                    <table class="table">
                        <tr>
                            <th>SN</th>
                            <th>Link</th>
                            <th>Notification</th>
                            <th>Delete</th>
                        </tr>
                        {% for i in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.link }}</td>
                            <td>{{ i.notification }}</td>
                            <td><a class="btn btn-danger" href="/delnotification?id={{i.id}}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-12"></div>
        </div>
    </div>
</div>
{% endblock %}