{% extends 'shared/admCommon.html' %}
{% block content %}
{% load static %}
{% if msg %}
<script>
    alert('{{ msg }}')
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-sm-12"></div>
        <div class="col-lg-8 col-md-10 col-sm-12 bg-white">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 py-3">
                    <img src="{% static 'img/adminicon.png' %}" style="margin-left: 45%;height: 100px; width: 100px;"
                        alt=""><br><br>
                </div>
                <div class="col-4"></div>
                <div class="col-4 my-3">
                    <label>Name:</label>
                </div>
                <div class="col-8 my-3">
                    E-Study Corner Admin
                </div>
                <div class="col-4 my-3">
                    <label>Email:</label>
                </div>
                <div class="col-8">
                    shubhamjais1999@gmail.com
                </div>
                <div class="col-4 my-3">
                    <label>Contact Number:</label>
                </div>
                <div class="col-8">
                    +91 885 831 2336
                </div>
                <div class="col-4 my-3">
                    <label>Address:</label>
                </div>
                <div class="col-8">
                    Traffic Chauraha, Mission Road, Karwi Chitrakoot
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-12"></div>
    </div>
</div>
{% endblock %}