{% extends 'shared/admCommon.html' %}
{% block content %}
{% load static %}
{% if msg %}
<script>
    alert('{{ msg }}')
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-12"></div>
                <div class="col-lg-6 col-sm-12 bg-white py-3">
                    <h3>Answers </h1>
                    {% for i in data %}
                    {{ forloop.counter }}:-
                    <b>{{ i.answer }}</b><br>
                    {{ i.email }} <br>
                    {{ i.dt }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="{ i.imgname }}" alt="">
                    <a class="btn btn-danger" href="/delans?id={{ i.id }}">Delete</a>
                    <hr>
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-sm-12"></div>
            </div>
        
</div>
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="jCHrENZm"></script> -->
</div>
{% endblock %}