{% extends 'shared/admCommon.html' %}
{% block content %}
{% load static %}
<!-- Form Validation -->
<script>
    function validateForm() {
        var x = document.getElementById('newPassword').value;
        var y = document.getElementById('confirmNewPassword').value;
        if (x != y) {
            alert("Password did not match.");
            return false;
        }
    }
</script>
{% if msg %}
<script>
    alert('{{ msg }}')
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-12"></div>
        <div class="col-lg-6 col-md-8 col-sm-12 bg-white">
            <form name="myform" method="POST" action="/changeadmpassword" onsubmit="return validateForm()">
                {% csrf_token %}
                <h2>Change Password</h2>
                <div class="row">
                    <div class="col-4 my-3">
                        <label>Current Password:</label>
                    </div>
                    <div class="col-8">
                        <input name="pwd" class="form-control" type="password" placeholder="Enter current password"
                            required><br>
                    </div>
                    <div class="col-4">
                        <label>Enter new password:</label><br>
                    </div>
                    <div class="col-8">
                        <input id="newPassword" class="form-control" name="npass" type="password"
                            placeholder="Enter new password" required><br>
                    </div>
                    <div class="col-4">
                        <label>Confirm new password:</label><br>
                    </div>
                    <div class="col-8">
                        <input id="confirmNewPassword" class="form-control" type="password"
                            placeholder="Confirm new password" required><br>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-12"></div>
    </div>
</div>
{% endblock %}