{% extends 'shared/base.html' %}
{% block content %}
<div class="bg-login">
    <div class="container login">
        <b><h1>Forget Password</h1></b>
        <form action="/forgetotp" method="POST">
            {% csrf_token %}
            <input name="email" type="email" placeholder="Enter Your Registered E-mail ID"><br>
            <input name="mobno" type="number" placeholder="Enter Your Registered Mobile Number"><br>
            <a href="/login">Back to Login</a><br>
            <button type="submit">Get OTP</button>
            <div style="padding:20px; color:red">
                {{ msg }}
            </div>
        </form>
    </div>
</div>

{% endblock %}