<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Font-Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" href="{% static '/css/admstyle.css' %}">
  <link rel="stylesheet" href="{% static '/css/material-kit.min.css' %}">
  <title>Student - E-Study-Corner</title>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">SideBar </div>
      <div class="list-group list-group-flush">
        <div class="sidebar-wrapper" id="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item active  ">
              <a class="nav-link" href="/admdashboard">
                <i class="material-icons">dashboard</i> <span class="dashboard-menu"> Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admdiscussion">
                <i class="material-icons">chat</i> <span class="dashboard-menu"> Discussion</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/admnotification">
                <i class="material-icons">notifications_active</i>
                <span>Manage Notification</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/admenquiry">
                <i class="material-icons">contact_mail</i>
                <span>Manage Enquiry</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/admfeedback">
                <i class="material-icons">feedback</i>
                <span>Manage Feedback</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/sendemail">
                <i class="material-icons">send</i>
                <span>Send Email</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/sendsms">
                <i class="material-icons">textsms</i>
                <span>Send SMS</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/addqp">
                <i class="material-icons">help</i>
                <span>Add Question Paper</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/submittedtask">
                <i class="material-icons">assignment</i>
                <span>Submitted Task</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/manageqp">
                <i class="material-icons">question_answer</i>
                <span>Manage QP</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/manageresult">
                <i class="material-icons">done</i>
                <span>Manage Result</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/admprofile">
                <i class="material-icons">person</i>
                <span> Admin Profile </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/changeadmpassword">
                <i class="material-icons">vpn_key</i>
                <span>Change Password</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <!-- Main Header -->
      <nav class="navbar navbar-expand-lg bg-primary header-area">
        <button class="btn bg-transparent" id="menu-toggle"><i class="material-icons py-3"
            style="font-size: 32px">dashboard</i></button>
        <a class="navbar-brand mx-3" href="/"><img src="{% static '/img/logo.png'%}" alt=""></a>
        <div class="container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact"><i class="fa fa-phone"></i> Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manageupload"><i class="fa fa-upload"></i> Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>


            <ul class="navbar-nav ml-auto px-3">
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img class="mx-2" style="height: 30px; width: 30px;" src="{% static 'img/adminicon.png' %}" alt="">
                  Admin &nbsp;<i class="fa fa-chevron-down mx-2"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/admprofile"><i class="material-icons mx-2">person</i> Profile</a>
                  <a class="dropdown-item" href="/admchangepassword"><i class="material-icons mx-2">vpn_key</i> Change
                    Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/admlogout"><i class="fa fa-power-off mx-2"></i> Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Page Content -->
      {% block content %}
      {% endblock %}
      <!-- Copyright
      <div class="footer-copyright text-center text-white py-3" style="background: #324191">© 2020 Copyright:
        <a class="text-warning" href="#"> Shubham Jaiswal </a>
      </div>
      Copyright -->
    </div>
  </div>
  <!-- /wrapper -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <!-- Material Kit JavaScript -->
  <script src="{% static '/js/material-kit.min.js' %}"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>